
header {
       
        color: #fff; /* Color del texto */
        padding: 10px; /* Espaciado interno */
       
 }
    
body{
    background-color: rgb(136, 184, 185);
}
h1{
    text-align: center;
    color:#7a7978;
    font-style:oblique;
     background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
      
}

 ul{
    list-style: none;
 }
 ul.a li{
    display: inline;
    font-style:oblique;
    
 }

 .E{
    color:grey;
    border-color: beige;
    background-color:rgba(241, 232, 240, 0.938);
    border-style: groove;
    padding: 0.4rem 6rem;
 }
.palabra, .num{ 
    margin-left: 5%;
}
.caracter, .ex, .mas, .long{
    margin: 15px;
}
textarea[name="escribe"]{
    margin-left: 22%;
     margin-right: 25%;
}
textarea{
    background-color: rgb(236, 174, 212);
    border-style:ridge;
    border-color:beige;
   
    font-style: italic;
    height: 17em;
    width: 700px;
}
h3{
    text-align:end;
}
#resetbutton{
    background-color: rgb(153, 223, 180);
    margin-right: 35%;
    border-radius: 15px;
    padding: 0.3rem 1rem;
}
footer{
color: darkslategrey;
background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
text-align: center;
font-style:oblique;
}