body{
    background-color: rgb(136, 184, 185);
}
h1{
    text-align: center;
    color:#7a7978;
    font-style:oblique;
}

 ul{
    list-style: none;
 }
 ul.a li{
    display: inline;
    font-style:oblique;
 }
.palabra{
    color:grey;
border-color: beige;
background-color:rgba(241, 232, 240, 0.938);
border-style: groove;
margin-left: 35%;


}
.caracter{
color: gray;
border-color:beige;
background-color: rgba(241, 232, 240, 0.938);
border-style: groove;
margin: 15px;
}
.ex{
    color: grey;
    border-color: beige;
    background-color: rgba(241, 232, 240, 0.938);
    border-style: groove;
    margin: 15px;
}
.num{
    color: grey;
    border-color: beige;
    background-color: rgba(241, 232, 240, 0.938);
    border-style:groove;
    margin-left: 35%;
    
}
.mas{
    color: grey;
    border-color: beige;
    background-color:rgba(241, 232, 240, 0.938);
    border-style: groove;
    margin: 15px;
}
.long{
    color:grey;
    border-color: beige;
    background-color: rgba(241, 232, 240, 0.938);
    border-style:groove;
    margin: 15px;
}
h2{
    text-align:right;
}
textarea{
    background-color: rgb(236, 174, 212);
    border-style:ridge;
    margin-right: 43%;
    font-style: italic;
}
h3{
    text-align: right;
}
#resetbutton{
    background-color: rgb(153, 223, 180);
    margin-right: 35%;
}
footer{
color: darkslategrey;
background-color: rgb(185, 217, 229);
text-align: center;
font-style:oblique;
}